body {
    background-image: url('../images/circles-and-roundabouts.png');
    color: #777777;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

/* main styling */
header {
    border-bottom: 2px solid #cccccc;
    background-color: #fff;
}

header div {
    max-width: 960px;
    margin: auto;
}

.main-content-wrapper {
    max-width: 960px;
    margin: auto;
}

section {
    float: left;
    border: 2px solid #dddddd;
    background-color: #fff;
    width: 650px;
    margin: 30px 0 30px 0;
}

aside {
    float: right;
    border: 2px solid #dddddd;
    background-color: #fff;
    width: 270px;
    margin: 30px 0 30px 0;
}

aside div {
    width: 202px;
    margin: auto;
    padding: 25px 0 25px 0;
}

aside a:hover {
    opacity: .7;
}

footer {
    clear: both;
}
/* nav syling */
nav a {
    display: inline-block;
    text-decoration: none;
    color: #777777;
}

nav {
    display: inline-block;
    float: right;
    padding-top: 30px;
}

nav a:hover {
    color: #474747;
}

nav a:first-child,
nav a:nth-child(2) {
    border-right: 1px solid #e6e6e6;
    padding-right: 16px;
}

nav a:nth-child(2),
nav a:nth-child(3) {
padding-left: 10px;
}

/* heading styling */
h1, h2, h3, h4 {
    font-family: Georgia, Times, 'Times New Roman', serif;
}

h1 {
    display: inline-block;
    font-size: 1.75em;
    font-weight: bold;
    color: #fff;
    background-color: #4aaaa5;
    padding: 25px 30px 25px 30px;
}

h2 {
    font-size: 1.6em;
    font-weight: bold;
    color: #4aaaa5;
    padding: 30px 0 30px 0;
    margin: 0 30px 0 30px;
    border-bottom: 2px solid #cccccc;
}

h3 {
    font-size: 1.5em;
    font-weight: bold;
    color: #4aaaa5;
    padding: 25px 0 20px 0;
    margin: 0 30px 0 30px;
    border-bottom: 2px solid #e6e6e6;
}

h4 {
    font-size: 1.4em;
    color: #fff;
    background-color: #4aaaa5;
}

/* Grid Styling */
.portfolio-grid-wrapper {
    padding: 30px;
    display: grid;
    grid-template-columns: 275px 275px;
    grid-gap: 40px;
}

.hangman {
    background-image: url("../images/florida_sunrise.jpg");
    background-size: contain;
    margin-bottom: 10px;
}

.rpg-game {
    background-image: url("../images/pink_floyd.jpg");
    background-size: contain;
}

.trivia-game {
    background-image: url("../images/haiku.jpg");
    background-size: contain;
    margin-bottom: 10px;
}

.rutgers-widget {
    background-image: url("../images/hahahaha.jpg");
    background-size: contain;
}

.rock-paper-scissors {
    background-image: url("../images/stupor_heroes.jpg");
    background-size: contain;
}

/* specifying height is necessary to give the divs structure to hold the background image */
.box {
    position: relative;
    height: 206px;
}

.box h4 {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    padding: 15px 0 15px 0;
}